@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|PT++Mono);

:root{
    --color-background: #F0F0F7;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842C2;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-formInput: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
}

.body {
    background-color: var(--color-primary-dark);
    font-size: 15px;
    font-family: Lato, sans-serif;
}

#container {
    height: 525px;
    width: 360px;
    margin: 100px auto;
    background: var(--color-background);
    box-shadow: 5px 5px 5px var(--color-secondary);
    border-radius: 20px;
}

.title {
    background: var(--color-text-in-primary);
    color: var(--color-text-title);
    padding: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

.tipsForm {
    padding-left: 20px;
    padding-right: 30px;
}

.formInput {
    background: var(--color-formInput);
    width: 40px;
    padding: 5px 5px 8px 8px;
}

.formInput:focus {
    border: 3px solid var(--color-primary-dark);
    outline: none;
}

.formSelect {
    width: 180px;
    padding: 5px;
    font-size: 12px;
}

.formSubmit {
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin: 30px auto;
    background: var(--color-secondary);
    color: var(--color-formInput);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    border: 2px solid var(--color-text-title);
    box-shadow: 2px 2px 2px  #32264D;
}

.rodape {
    background: var(--color-text-in-primary);
    color: var(--color-text-title);
    padding: 15px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#totalTip {
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
    color: var(--color-text-title);
}

